*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.syc
*.sym
*.syx
*.abx
*.loa
*.los
*.run.xml
*.bcf
*.glo
*.gls
*.ist
*.maf
*.mtc*
*.ptc*
*.wtc*
*.sty
*.def
*.ldf
*.bst
*.tpm
*.pdf
*.tar.bz2
*.tar.lzma
COPYING
README
algorithms.pdf
